<html>
<body>
    <h3>Xin chào quý khách</h3>
    <p>Chúc mừng Quý khách đã nhận được một yêu cầu tìm người chở hàng trên sàn giao dịch vận tải <a href="http://goixe.vn">goixe.vn</a>.</p> 
    <p>Dưới đây là thông tin giao dịch:</p>
    <h3>Thông tin giao dịch</h3>
    <table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td >Mã đối tác</td>
				<td>${partner_id}</td>
			</tr>
			<tr>
				<td >Mã hàng</td>
				<td >${event_id}</td>
			</tr>
			<tr>
				<td>Số lượng hàng</td>
				<td >${quantity}</td>
			</tr>
			<tr>
				<td >Giá đã chào</td>
				<td >${expected_price} tr.VNĐ</td>
			</tr>
			<tr>
				<td >Phí VAT</td>
				<td >${vat_fee}</td>
			</tr>
			<tr>
				<td >Phí bốc vác</td>
				<td >${porter_fee}</td>
			</tr>
			<tr>
				<td >Chi phí lưu ca/xe</td>
				<td >${shift_fee} tr.VNĐ</td>
			</tr>
			<tr>
				<td >Mô tả</td>
				<td >${description}</td>
			</tr>
			<tr>
				<td >Ngày tạo</td>
				<td >${created_date}</td>
			</tr>
		</tbody>
	</table>
	<p> Vui lòng nhấp vào liên kết để biết thông tin chi tiết về yêu cầu: <a href="${urlOrderDetail}">Liên kết</a>
	</p>
	<p>Ban quản trị Goixe.vn, chân thành cảm ơn!</p>
	<p>---------------------------------------</p>
	<p>Mọi thắc mắc xin vui lòng email liên hệ hỗ trợ : info@goixe.vn</p>
</body>
</html>
